
/* header style start */
header {
    background-color: var(--bg-color);
}

/* nav styling start */
.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    position: relative;
}

.logo a {
    font-size: 24px;
    font-weight: 500;
    color: var(--dark1-color);
}

.menu {
    display: flex;
    align-items: center;
    gap: 35px;
}

.menu a {
    font-size: 16px;
    font-weight: 400;
    color: var(--dark2-color);
    padding: 1em;
}

/* humburger style start */
#nav-toggler {
    position: absolute;
    /* relative to nav-container */
    top: -100px;
}

.humburger {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.humburger .line {
    width: 30px;
    height: 5px;
    background-color: var(--yellow-color);
    margin: 5px 0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

/* humburger style end */

/* header style end */

/* hero-section start */
#brand-section {
    text-align: center;
}

.brand-title {
    font-size: 3rem;
    font-weight: 700;

}
#brand-section p{
    margin: 30px 0;
}
#brand-section img{
    width: 100%;
    margin-top: 30px;
}
/* hero-section end */
/* quick-features-images style start */
.quick-features-images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.features-content{
    display: flex;
    padding: 20px;
    align-items: center;
    gap: 70px;
}
.quick-features-images img{
    /* max-width: 340px; */
    width: 100%;
}
.features-content > div{
    flex-basis: 50%;
}
.features-content h2{
    font-size: 2rem;
    font-weight: 500;
}
.features-content p{
    margin: 25px 0;
}
.quick-list-text-span{
    color: var(--dark3-color);

}
.features-text-span{
    color: var(--yellow-color);
}
/* quick-features-images style end */

/* services section start  */
#experiences .content{
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(2,1fr);
}

.services{
    height: auto;
}
.service{
    padding: 10px;
    margin-bottom: 10px;
    margin: 10px 0;
    box-shadow: 0 0 2px #c3c3c3bf inset;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.service-title{
    border-left: 4px solid var(--yellow-color);
    font-size: 2rem;
    font-weight: 700;
    padding-left: 10px;
}
.service-desc{
    padding: 20px 0;
}
.service-subtitle{
    font-size: 1.2rem;
    font-weight: 600;
    padding-bottom: 10px;
} 
.architect-model{
    position: relative; /* to model image */
}
.architect-model span{
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 5px;
}
#experiences .architect-model img{
    width: 100%;
    height: 100%;
    padding-left: 50px;
}
.experience-btn{
    position: absolute;
    left: -20px;
    bottom: -30px;
    font-size: 0.8rem !important;
    font-weight: 400 !important;
    padding: 20px 40px !important;
}
/* services section end */

/* some-facts section start */
#some-facts{

}
#some-facts h2{
    margin: 50px 0 20px 0;
}
#some-facts p{
    max-width: 540px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    margin: 100px 50px;
    gap: 100px;
    justify-content: center;
}
.card{
    border: 1px solid var(--yellow-color);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 30px 10px;
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
}
.card:hover{
    transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    box-shadow: 2px 4px 5px var(--yellow-color) inset;
}
.card h4{
    font-size: 2rem;
    color: var(--dark2-color);
    font-weight: 600;
}
.card h6{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--dark3-color);
}
/* some-facts section end */
/* our-sponsors start */
.text-content{
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}
#our-sponsor h2{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.sponsors{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
}
.sponsors > div{
    margin: 50px;
    
}
.sponsors img{
    width: 100%;
    max-width: 150px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

/* our-sponsors end */
footer{
    text-align: center;
    margin-bottom: 30px;
}
footer p{
    color: var(--dark2-color);
}
/* footer start */
/* footer end */

/* small device */
@media only screen and (max-width: 576px) {
    /* nav style for small device */
    header {
        position: fixed;
        width: 100%;
        top: 0;
    }
    .menu {
        flex-direction: column;
        position: fixed;
        top: 37px;
        left: 0;
        right: 0;
        bottom: 100%;
        background-color: #1ddb82aa;
        width: auto;
        height: auto;
        justify-content: space-around;
        z-index: 100;
        overflow: hidden;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
    }
    .menu a {
        color: var(--white);
        font-size: 1.4rem;
        width: 100%;
        text-align: center;
    }
    .humburger {
        display: block;
    }
    #nav-toggler:checked~.menu {
        bottom: 0;
    }
    /* quick features style small */
    
    .features-content{
        flex-direction: column;
    }
    .quick-features-images{
        grid-template-columns: 1fr;
    }
    /* experience section small device */
    #experiences .content{
        grid-template-columns: 1fr;
    }
    .experience-btn{
        position: relative; 
    }
    .architect-model{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 70px;
    }
    #experiences .architect-model img{
        padding-left: 0;
        z-index: -101;
    }
    /* some facts section */
    .cards{
        grid-template-columns: 1fr;
    }
    /* our sponsors */
    .sponsors{
        grid-template-columns: 1fr;
        text-align: center;
    }
    /* footer */

}